@model MessageDeliveryInfoVM;
@{
    ViewData["Title"] = "Personal Message Delivery Info";
}


<h4 class="caption">Personal message delivery info</h4>
<div class="text-dark bottomMarginSmall">
    We have the following contact info for you:
</div>
<div class="container">
    <div class="text">Name:&nbsp;<span class="text-info">@Model.FullName</span></div>
    <div class="text">Email:&nbsp;<span class="text-info">@Model.Email</span></div>
    <div class="text">Phone:&nbsp;<span class="text text-info">@Model.Phone</span></div>
    <div class="text-dark">Address:</div>
    <div class="container-sm">
        <div class="text">Street Address:&nbsp;<span class="text text-info">@Model.Address.StreetAddress</span></div>
        <div class="text">Locality:&nbsp;<span class="text text-info">@Model.Address.Locality</span></div>
        <div class="text">Postal Code:&nbsp;<span class="text text-info">@Model.Address.PostalCode</span></div>
        <div class="text">Country:&nbsp;<span class="text text-info">@Model.Address.Country</span></div>
    </div>
</div>
